# project
_build/
*.orig

# Windows
x64/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
TestResults/
.metadata/
*.o
*.suo
*.sdf
*.pdb
*.aps
*.user
*.opensdf
_ReSharper.*/
*resharper.user
ipch/

